body {
    background-image: url("../image/首頁背景.jpg");
       /* #A887BE*/
}

.menu {
    background-color: #FFFFFF;
    width: auto 0;
    padding: 10px 30px;
    text-align: center;
}

.title {
    color: #293E50;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

a {
    color: #534a4af3;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:inline;
    margin-right: 1.8%;
    font-weight: bold;
}

p{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 230px;
    line-height: 120px;
}
